
#navegacion{
    background-color: rgb(182, 89, 89);
}

#logo{
    border-radius: 50%;
}

#btn_registroDeUsuarios{
border-radius: 50%;
background-color: rgb(89, 89, 197);

}

#a_registroDeUsuarios{

}

#registrar_usuario_form{

}

#anoNacimiento_usuario{

}
#contrasena_usuario{

}
#enviar_registro{

}




